.header {
    background: linear-gradient(91.02deg, #FAC744 8.95%, #8B14EF 58.82%, #3333FF 107.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: contain;
    @apply font-bold max-w-max;
}